.media-item-container {
    display: flex;
    flex-direction: column;
    border: 1px solid #eee;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    background-color: #fff;
    position: relative;
    height: 430px;

    &:hover {
        transform: translateY(-5px);
        box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
    }
    

    &.is-favorite {
        border-color: #5fb9ee;
        box-shadow: 0 0 10px rgba(7, 114, 255, 0.6);
    }
}


img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.media-info {
    flex-grow: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    position: absolute;
    bottom: 0px;
}

.media-title {
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
    font-size: 1em;
}

.media-category,
.media-genre {
    font-size: 0.85em;
    color: #6c757d;
    margin-bottom: 3px;
}

.media-actions {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.media-actions button {
    background: rgba(255, 255, 255, 0.8);
    border: none;
    border-radius: 50%;
    width: 25px; 
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 0.8em;
    padding: 0;
    transition: background-color 0.2s ease, color 0.2s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.media-actions button:hover {
    background-color: rgb(206, 202, 202);
}

// Estilo para el botón de remover en vista de favoritos
.media-actions button.remove-button {
    color: #dc3545;
}