<h2>Mis Favoritos</h2>

<div *ngIf="isLoading$ | async">
    <p>Cargando favoritos...</p>
</div>

<div *ngIf="errorMessage$ | async as error" class="error-message">
    <p>{{ error }}</p>
</div>

<div *ngIf="!(errorMessage$ | async) && (favoriteMedia$ | async) as favoriteMedia" class="favorite-list-container">

    <div *ngIf="favoriteMedia.length === 0" class="empty-list-message">
        <p>Aún no tienes películas o series favoritas.</p>
    </div>

    <div *ngIf="favoriteMedia.length > 0" class="media-grid">
        <div *ngFor="let item of favoriteMedia">
            <app-media-item [item]="item" [showRemoveButton]="true" (removedFromFavorites)="onRemoveFavorite($event)">
            </app-media-item>
        </div>
    </div>

</div>