:host {
    display: block;
    padding: 20px;
    max-width: 900px;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h2 {
    color:  #5fb9ee;
    text-align: center;
    margin-bottom: 30px;
}

.filter-section {
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}

hr {
    border: none;
    height: 1px;
    background-color: #ccc;
    margin: 30px 0;
}

.error-message {
    text-align: center;
    margin-top: 20px;
    color: #dc3545; // Rojo
}

.media-list-container>div:first-child:last-child p {
    text-align: center;
    font-style: italic;
    color: #6c757d;
}