body {
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #f4f4f4; 
}

.main-content {
  padding: 20px; 
  min-height: calc(100vh - 17.5rem); // Mandar el footer hasta abajo, aunque no haya nada contenido
}

.container {
  margin: 0 auto;
}

.media-grid {
  display: grid; 
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

// Estilos para el modal de Angular Material
.cdk-overlay-container { 
  position: absolute;
  position: fixed;
  top: 50%;
  left: 50% ;
  transform: translate(-50%, -50%);
  z-index: 10;
}